In [1]:
import pandas as pd
import numpy as np

In [18]:
data_location = r"C:\Users\Vander\Desktop\A Mano\Proyecto\test.csv"

data = pd.read_csv(data_location)

In [24]:
equipos = pd.unique(data['Equipo1'])
PTS = 0
PJ = 0
PG= 0
PE= 0
PP= 0
GF= 0
GC= 0
df=pd.DataFrame({"Equipo":equipos,
                "Puntos":PTS,
                "PJ":PJ,
                "PG":PG,
                "PE":PE,
                "PP":PP,
                "GF":GF,
                "GC":GC})
df.set_index('Equipo', inplace = True)
for i in data.index:
    if data["Goles1"][i]>data["Goles2"][i]:
        df.loc[data["Equipo1"][i], 'Puntos' ] += 2
        df.loc[data["Equipo1"][i], 'PG' ] += 1
        df.loc[data["Equipo2"][i], 'PP' ] += 1
    if data["Goles1"][i]<data["Goles2"][i]:
        df.loc[data["Equipo2"][i], 'Puntos' ] += 2
        df.loc[data["Equipo2"][i], 'PG' ] += 1
        df.loc[data["Equipo1"][i], 'PP' ] += 1
    if data["Goles1"][i]==data["Goles2"][i]:
        df.loc[data["Equipo1"][i], 'Puntos' ] += 1
        df.loc[data["Equipo2"][i], 'Puntos' ] += 1
        df.loc[data["Equipo1"][i], 'PE' ] += 1
        df.loc[data["Equipo2"][i], 'PE' ] += 1
    df.loc[data["Equipo1"][i], 'PJ' ] += 1
    df.loc[data["Equipo2"][i], 'PJ' ] += 1
    df.loc[data["Equipo1"][i], 'GF' ] += data["Goles1"][i]
    df.loc[data["Equipo2"][i], 'GF' ] += data["Goles2"][i]
    df.loc[data["Equipo1"][i], 'GC' ] += data["Goles2"][i]
    df.loc[data["Equipo2"][i], 'GC' ] += data["Goles1"][i]    
df.sort_values(by=['Puntos'], ascending=False)

                        Puntos  PJ  PG  PE  PP  GF  GC
Equipo
Lanús                       41  28  17   7   4  66  34
Arsenal FC.                 35  28  14   7   7  59  42
Nueva Chicago               33  28  12   9   7  47  36
San Telmo                   32  28  11  10   7  42  36
All Boys                    31  28   9  13   6  36  33
Excursionistas              30  28  10  10   8  52  55
Talleres                    28  28   8  12   8  40  40
Almirante Brown             27  28   8  11   9  32  35
Temperley                   27  28  10   7  11  40  48
Dep. Morón                  27  28   9   9  10  26  27
Quilmes                     26  28   7  12   9  37  34
Dep. Español                24  28   6  12  10  31  35
Comunicaciones              23  28   8   7  13  39  43
Estudiantes                 21  27   4  13  10  19  31
Defensores de Belgrano      13  27   4   5  18  31  68

In [22]:
#df.loc[['Equipo'], 'Puntos' ] -= 0
#df.sort_values(by=['Puntos'], ascending=False)